// Utilize our source Sass files to take advantage of variables, maps, mixins, and functions to help you build faster and customize your theme.
// Read more: https://getbootstrap.com/docs/5.1/customize/sass/
// Main file, keep empty if you don't want to reset variables for Bootstrap

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$btn-focus-box-shadow: none!important;
$primary:#4154f1;
$secondary:#ccc;
$success:#008451;
$danger:#f2460d;
$info:#7ebcfa;
$warning:#ff9933;
$light:#f6f9ff;
$dark:#000633;

$font-family-base: 'Nunito', sans-serif;